* {
    margin: 5;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: Playfair Display, Oswald, Arial;
    background-color: #ffffff;
    color: rgba(112, 97, 105, 0.89);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #e0e0e0;
	}

.logo {
    font-weight: bold;
    font-size: 21px;
}

.menu a {
    margin-left: 15px;
    text-decoration: none;
    color: #333333;
    font-size: 15px;
}

.hero {
    padding: 100px 60px 60px;
    max-width: 900px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    color: #666666;
}

.info {
    display: flex;
    gap: 40px;
    padding: 60px;
}

.card {
    background-color: #fafafa;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
}

.card h2 {
    color: #d4a000;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #666666;
}

